@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
*{
    margin:2px;
    padding:0px;
}
.container{
    display: flex;
    height:100vh;
}
.sidebar{
    background-color: rgb(97, 97, 97);
    width: 350px;

}
.sidebar nav{
    padding: 0px;

}
.sidebar nav li{
    list-style-type: none;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
}
.sidebar nav li a{
    color: white;
    text-decoration: none;
}
.contain{
    display: flex;
    flex-direction: column;
}
.main{
    /*background-color: aqua;*/
    width: 90vw;
    font-family: 'Mukta', sans-serif;
    display:flex;
}
.content{
    /*background-color: brown;*/
    width: 85vw;
    height: 90vh;
    margin: 10px auto;
    padding: 10px 10px;
    display: flex;
    justify-content: space-around;
}
.header{
    display: flex;
    flex-direction:column;
    justify-content: center;
}
.image img{
    height:60vh;
    width: 20vw;
    position: relative;
    right:0px;
}
#info{
    font-family: 'Playfair Display', serif;
    font-size:50px;
}
#abt{
    position: relative;
    left:0vw;
    font-size:50px;
}
.btn button{
    margin-top:20px;
    width: 12vw;
    height:8vh;
    font-size: 18px;;
    border-radius: 22px;
    border-color: slategrey;
    background-color: rgb(74, 136, 235);
    color:white;
    cursor:pointer;
}
.btn button:hover{
    color: rgb(23, 81, 174);
    background-color: rgb(184, 184, 184);
    border-color: cornflowerblue;
}
#cnt{
    font-family: 'Mukta', sans-serif;
    font-weight:bold;
    font-size: 50px;

}
#contact form{
    padding-top: 2px;
}
#contact form div{
    padding: 4px 0;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
#contact form div input, #msg{
    width:20vw;
    height: 24px;
    border-radius: 4px;
    border-width:0.1em;
    font-size: 16px;
}
#contact form div input:hover, #msg:hover{
    background-color: rgb(168, 163, 163);
}
.bttn{
    border-radius: 20px;
    font-size: 15px;
    width: 80px;
}
.bttn:hover{
    background-color: rgb(173, 173, 180);
}
.head{
    font-family: 'Mukta', sans-serif;
    font-size: 27px;
}
.info, #sk{
    font-family: 'Source Code Pro', monospace;
}
dl{
    font-weight: bold;
    padding-top: 14px;
}
li{
    list-style-type: none;
}
.skl{
    width: 80vw;
    height: 20px;
    background-color: rgb(150, 141, 141);
    padding-left: 0px;
}
.sk1{
    width: 20vw;
    height:20px;
    background-color: aqua;
}
.sk2{
    width: 30vw;
    height: 20px;
    background-color:blueviolet;
}
.sk3{
    width: 60vw;
    height: 20px;
    background-color:chartreuse;
}
.sk4{
    width: 60vw;
    height: 20px;
    background-color:crimson;
}